@tailwind base;

.tiptap.ProseMirror {
	outline: none;
}

.tiptap p.is-editor-empty:first-child::before {
	color: hsl(--muted-foreground);
	opacity: 0.5;
	content: attr(data-placeholder);
	float: left;
	height: 0;
	pointer-events: none;
}

@layer base {
	.mention {
		@apply text-foreground border border-muted-foreground/50 rounded px-1;
	}

	a.mark-link {
		@apply relative;
	}
	a.mark-link:hover::after {
		@apply block;
	}

	a.mark-link::after {
		content: attr(href);
		@apply absolute bottom-0 left-1/2 -translate-x-1/2 translate-y-full text-xs px-2 rounded-md bg-black/50 backdrop-blur text-white hidden;
	}
}

.prose ol {
	list-style-type: decimal;
}

/* Set the second layer of list items to lowercase alphabetic */
.prose ol > li > ol {
	list-style-type: lower-alpha;
}

/* Set the third layer of list items to uppercase Roman numerals */
.prose ol > li > ol > li > ol {
	list-style-type: upper-roman;
}

.prose ul {
	list-style-type: disc;
}

/* Second-level bullet */
.prose ul ul {
	list-style-type: square;
}

/* Third-level bullet */
.prose ul ul ul {
	list-style-type: circle;
}
